<h1>Introduction</h1>

In [1]:
import pandas as pd
import requests
import numpy as np
import matplotlib.cm as cm
import matplotlib.colors as colors
import folium

# import k-means for the clustering stage
from sklearn.cluster import KMeans

In [2]:
url_london = "https://en.wikipedia.org/wiki/List_of_areas_of_London"
wiki_london_url = requests.get(url_london)
wiki_london_url

In [3]:
wiki_london_data = pd.read_html(wiki_london_url.text)
wiki_london_data

[                                                   0
 0  Map all coordinates in "Category:Areas of Lond...
 1                 Download coordinates as: KML · GPX,
             Location                     London borough       Post town  \
 0         Abbey Wood              Bexley, Greenwich [7]          LONDON
 1              Acton  Ealing, Hammersmith and Fulham[8]          LONDON
 2          Addington                         Croydon[8]         CROYDON
 3         Addiscombe                         Croydon[8]         CROYDON
 4        Albany Park                             Bexley  BEXLEY, SIDCUP
 ..               ...                                ...             ...
 527         Woolwich                          Greenwich          LONDON
 528   Worcester Park       Sutton, Kingston upon Thames  WORCESTER PARK
 529  Wormwood Scrubs             Hammersmith and Fulham          LONDON
 530          Yeading                         Hillingdon           HAYES
 531         Yiewsley                         Hillingdon    WEST DRAYTON

     Postcode district Dial code OS grid ref
 0                 SE2       020    TQ465785
 1              W3, W4       020    TQ205805
 2                 CR0       020    TQ375645
 3                 CR0       020    TQ345665
 4           DA5, DA14       020    TQ478728
 ..                ...       ...         ...
 527              SE18       020    TQ435795
 528               KT4       020    TQ225655
 529               W12       020    TQ225815
 530               UB4       020    TQ115825
 531               UB7       020    TQ063804

 [532 rows x 6 columns],
     0                                                  1
 0 NaN  Wikimedia Commons has media related to Distric...,
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteAreas of London  \
 0                            Central activities zone
 1                                 Town centrenetwork
 2                                      International
 3                                       Metropolitan
 4                                              Major
 5                               Districts(principal)
 6                          Neighbourhoods(principal)
 7                           Lists of areasby borough
 8                                          Fictional

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteAreas of London.1
 0  Bloomsbury City of London wards Holborn Maryle...
 1  International Knightsbridge West End Metropoli...
 2                             Knightsbridge West End
 3  Bromley Croydon Ealing Harrow Hounslow Ilford ...
 4  Angel Barking Bexleyheath Brixton Camden Town ...
 5  Acton Beckenham Belgravia Bethnal Green Brentf...
 6  Abbey Wood Alperton Anerley Archway Barnes Bar...
 7  Barking and Dagenham Barnet Bexley Brent Broml...
 8  Canley (borough) (The Bill: TV soap) Charnham ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ,
                            0  \
 0              International
 1               Metropolitan
 2                      Major
 3       Districts(principal)
 4  Neighbourhoods(principal)

                                                    1
 0                             Knightsbridge West End
 1  Bromley Croydon Ealing Harrow Hounslow Ilford ...
 2  Angel Barking Bexleyheath Brixton Camden Town ...
 3  Acton Beckenham Belgravia Bethnal Green Brentf...
 4  Abbey Wood Alperton Anerley Archway Barnes Bar...  ]

In [4]:
wiki_london_data = wiki_london_data[1]
wiki_london_data

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728
...,...,...,...,...,...,...
527,Woolwich,Greenwich,LONDON,SE18,020,TQ435795
528,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,020,TQ225655
529,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,020,TQ225815
530,Yeading,Hillingdon,HAYES,UB4,020,TQ115825
531,Yiewsley,Hillingdon,WEST DRAYTON,UB7,020,TQ063804

In [5]:
wiki_london_data.rename(columns=lambda x: x.strip().replace(" ", "_"), inplace=True)
wiki_london_data

,Location,London borough,Post_town,Postcode district,Dial code,OS_grid_ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728
...,...,...,...,...,...,...
527,Woolwich,Greenwich,LONDON,SE18,020,TQ435795
528,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,020,TQ225655
529,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,020,TQ225815
530,Yeading,Hillingdon,HAYES,UB4,020,TQ115825
531,Yiewsley,Hillingdon,WEST DRAYTON,UB7,020,TQ063804

In [6]:
df1 = wiki_london_data.drop( [ wiki_london_data.columns[0], wiki_london_data.columns[4], wiki_london_data.columns[5] ], axis=1)

In [7]:
df1.head()

                      London borough       Post_town Postcode district
0              Bexley, Greenwich [7]          LONDON               SE2
1  Ealing, Hammersmith and Fulham[8]          LONDON            W3, W4
2                         Croydon[8]         CROYDON               CR0
3                         Croydon[8]         CROYDON               CR0
4                             Bexley  BEXLEY, SIDCUP         DA5, DA14

In [8]:
df1.columns = ['borough','town','post_code']
df1

                               borough            town  post_code
0                Bexley, Greenwich [7]          LONDON        SE2
1    Ealing, Hammersmith and Fulham[8]          LONDON     W3, W4
2                           Croydon[8]         CROYDON        CR0
3                           Croydon[8]         CROYDON        CR0
4                               Bexley  BEXLEY, SIDCUP  DA5, DA14
..                                 ...             ...        ...
527                          Greenwich          LONDON       SE18
528       Sutton, Kingston upon Thames  WORCESTER PARK        KT4
529             Hammersmith and Fulham          LONDON        W12
530                         Hillingdon           HAYES        UB4
531                         Hillingdon    WEST DRAYTON        UB7

[532 rows x 3 columns]

In [9]:
df1['borough'] = df1['borough'].map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))
df1

                            borough            town  post_code
0                Bexley, Greenwich           LONDON        SE2
1    Ealing, Hammersmith and Fulham          LONDON     W3, W4
2                           Croydon         CROYDON        CR0
3                           Croydon         CROYDON        CR0
4                            Bexley  BEXLEY, SIDCUP  DA5, DA14
..                              ...             ...        ...
527                       Greenwich          LONDON       SE18
528    Sutton, Kingston upon Thames  WORCESTER PARK        KT4
529          Hammersmith and Fulham          LONDON        W12
530                      Hillingdon           HAYES        UB4
531                      Hillingdon    WEST DRAYTON        UB7

[532 rows x 3 columns]

In [10]:
df1.shape

(532, 3)

In [11]:
df1 = df1[df1['town'].str.contains('LONDON')]
df1

                            borough                    town post_code
0                Bexley, Greenwich                   LONDON       SE2
1    Ealing, Hammersmith and Fulham                  LONDON    W3, W4
6                              City                  LONDON       EC3
7                       Westminster                  LONDON       WC2
9                           Bromley                  LONDON      SE20
..                              ...                     ...       ...
522                       Redbridge                  LONDON  IG8, E18
523       Redbridge, Waltham Forest  LONDON, WOODFORD GREEN       IG8
526                          Barnet                  LONDON       N12
527                       Greenwich                  LONDON      SE18
529          Hammersmith and Fulham                  LONDON       W12

[309 rows x 3 columns]

In [12]:
df1.shape

(309, 3)

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309 entries, 0 to 529
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   borough    309 non-null    object
 1   town       309 non-null    object
 2   post_code  309 non-null    object
dtypes: object(3)
memory usage: 9.7+ KB

In [14]:
pip install arcgis

Requirement already satisfied: arcgis in c:\programdata\anaconda3\lib\site-packages (1.8.3.post2)
Requirement already satisfied: pywin32>=223; platform_system == "Windows" in c:\programdata\anaconda3\lib\site-packages (from arcgis) (227)
Requirement already satisfied: keyring>=19 in c:\programdata\anaconda3\lib\site-packages (from arcgis) (21.1.0)
Requirement already satisfied: winkerberos; platform_system == "Windows" in c:\programdata\anaconda3\lib\site-packages (from arcgis) (0.7.0)
Requirement already satisfied: ujson>=3 in c:\programdata\anaconda3\lib\site-packages (from arcgis) (4.0.1)
Requirement already satisfied: pyshp>=2 in c:\programdata\anaconda3\lib\site-packages (from arcgis) (2.1.2)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from arcgis) (1.14.0)
Requirement already satisfied: python-certifi-win32 in c:\programdata\anaconda3\lib\site-packages (from arcgis) (1.6)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from arcgis) (1.18.1)
Requirement already satisfied: ipywidgets>=7 in c:\programdata\anaconda3\lib\site-packages (from arcgis) (7.5.1)
Requirement already satisfied: widgetsnbextension>=3 in c:\programdata\anaconda3\lib\site-packages (from arcgis) (3.5.1)
Requirement already satisfied: requests-ntlm in c:\programdata\anaconda3\lib\site-packages (from arcgis) (1.1.0)
Requirement already satisfied: requests-kerberos; platform_system == "Windows" in c:\programdata\anaconda3\lib\site-packages (from arcgis) (0.12.0)
Requirement already satisfied: pandas>=1 in c:\programdata\anaconda3\lib\site-packages (from arcgis) (1.0.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from arcgis) (2.22.0)
Requirement already satisfied: requests-negotiate-sspi; platform_system == "Windows" in c:\programdata\anaconda3\lib\site-packages (from arcgis) (0.5.2)
Requirement already satisfied: lerc in c:\programdata\anaconda3\lib\site-packages (from arcgis) (0.1.0)
Requirement already satisfied: requests-toolbelt in c:\programdata\anaconda3\lib\site-packages (from arcgis) (0.9.1)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from arcgis) (3.1.3)
Requirement already satisfied: jupyterlab in c:\programdata\anaconda3\lib\site-packages (from arcgis) (1.2.6)
Requirement already satisfied: requests-oauthlib in c:\programdata\anaconda3\lib\site-packages (from arcgis) (1.3.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\programdata\anaconda3\lib\site-packages (from keyring>=19->arcgis) (1.5.0)
Requirement already satisfied: pywin32-ctypes!=0.1.0,!=0.1.1; sys_platform == "win32" in c:\programdata\anaconda3\lib\site-packages (from keyring>=19->arcgis) (0.2.0)
Requirement already satisfied: setuptools-scm in c:\programdata\anaconda3\lib\site-packages (from python-certifi-win32->arcgis) (4.1.2)
Requirement already satisfied: wrapt>=1.10.4 in c:\programdata\anaconda3\lib\site-packages (from python-certifi-win32->arcgis) (1.11.2)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from python-certifi-win32->arcgis) (2019.11.28)
Requirement already satisfied: traitlets>=4.3.1 in c:\programdata\anaconda3\lib\site-packages (from ipywidgets>=7->arcgis) (4.3.3)
Requirement already satisfied: ipykernel>=4.5.1 in c:\programdata\anaconda3\lib\site-packages (from ipywidgets>=7->arcgis) (5.1.4)
Requirement already satisfied: nbformat>=4.2.0 in c:\programdata\anaconda3\lib\site-packages (from ipywidgets>=7->arcgis) (5.0.4)
Requirement already satisfied: ipython>=4.0.0; python_version >= "3.3" in c:\programdata\anaconda3\lib\site-packages (from ipywidgets>=7->arcgis) (7.12.0)
Requirement already satisfied: notebook>=4.4.1 in c:\programdata\anaconda3\lib\site-packages (from widgetsnbextension>=3->arcgis) (6.0.3)
Requirement already satisfied: ntlm-auth>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests-ntlm->arcgis) (1.5.0)
Requirement already satisfied: cryptography>=1.3 in c:\programdata\anaconda3\lib\site-packages (from requests-ntlm->arcgis) (2.8)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1->arcgis) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1->arcgis) (2019.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->arcgis) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->arcgis) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->arcgis) (1.25.8)
Requirement already satisfied: pypiwin32>=223 in c:\programdata\anaconda3\lib\site-packages (from requests-negotiate-sspi; platform_system == "Windows"->arcgis) (223)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->arcgis) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->arcgis) (2.4.6)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->arcgis) (1.1.0)
Requirement already satisfied: tornado!=6.0.0,!=6.0.1,!=6.0.2 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab->arcgis) (6.0.3)
Requirement already satisfied: jupyterlab_server~=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab->arcgis) (1.0.6)
Requirement already satisfied: jinja2>=2.10 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab->arcgis) (2.11.1)
Requirement already satisfied: oauthlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests-oauthlib->arcgis) (3.1.0)
Requirement already satisfied: zipp>=0.5 in c:\programdata\anaconda3\lib\site-packages (from importlib-metadata; python_version < "3.8"->keyring>=19->arcgis) (2.2.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from setuptools-scm->python-certifi-win32->arcgis) (45.2.0.post20200210)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7->arcgis) (0.2.0)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from traitlets>=4.3.1->ipywidgets>=7->arcgis) (4.4.1)
Requirement already satisfied: jupyter-client in c:\programdata\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7->arcgis) (5.3.4)
Requirement already satisfied: jupyter-core in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7->arcgis) (4.6.1)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\programdata\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7->arcgis) (3.2.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.7.5)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\programdata\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.4.3)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (2.5.2)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.1.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (3.0.3)
Requirement already satisfied: jedi>=0.10 in c:\programdata\anaconda3\lib\site-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.14.1)
Requirement already satisfied: terminado>=0.8.1 in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.8.3)
Requirement already satisfied: nbconvert in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (5.6.1)
Requirement already satisfied: pyzmq>=17 in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (18.1.1)
Requirement already satisfied: Send2Trash in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (1.5.0)
Requirement already satisfied: prometheus-client in c:\programdata\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.7.1)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in c:\programdata\anaconda3\lib\site-packages (from cryptography>=1.3->requests-ntlm->arcgis) (1.14.0)
Requirement already satisfied: json5 in c:\programdata\anaconda3\lib\site-packages (from jupyterlab_server~=1.0.0->jupyterlab->arcgis) (0.9.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\programdata\anaconda3\lib\site-packages (from jinja2>=2.10->jupyterlab->arcgis) (1.1.1)
Requirement already satisfied: attrs>=17.4.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7->arcgis) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\programdata\anaconda3\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7->arcgis) (0.15.7)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.1.8)
Requirement already satisfied: parso>=0.5.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7->arcgis) (0.5.2)
Requirement already satisfied: defusedxml in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.6.0)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.8.4)
Requirement already satisfied: bleach in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (3.1.0)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (1.4.2)
Requirement already satisfied: testpath in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.4.4)
Requirement already satisfied: entrypoints>=0.2.2 in c:\programdata\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.3)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi!=1.11.3,>=1.8->cryptography>=1.3->requests-ntlm->arcgis) (2.19)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension>=3->arcgis) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from arcgis.geocoding import geocode
from arcgis.gis import GIS
gis = GIS()

In [16]:
def get_x_y_uk(address1):
   lat_coords = 0
   lng_coords = 0
   g = geocode(address='{}, London, England, GBR'.format(address1))[0]
   lng_coords = g['location']['x']
   lat_coords = g['location']['y']
   return str(lat_coords) +","+ str(lng_coords)

In [17]:
c = get_x_y_uk('SE2')

In [18]:
geo_coordinates_uk = df1['post_code']    
geo_coordinates_uk

0           SE2
1        W3, W4
6           EC3
7           WC2
9          SE20
         ...
522    IG8, E18
523         IG8
526         N12
527        SE18
529         W12
Name: post_code, Length: 309, dtype: object

In [19]:
coordinates_latlng_uk = geo_coordinates_uk.apply(lambda x: get_x_y_uk(x))
coordinates_latlng_uk

0       51.492450000000076,0.12127000000003818
1        51.51324000000005,-0.2674599999999714
6       51.51200000000006,-0.08057999999994081
7       51.51651000000004,-0.11967999999995982
9       51.41009000000008,-0.05682999999993399
                        ...
522    51.589770000000044,0.030520000000024083
523      51.50642000000005,-0.1272099999999341
526     51.615920000000074,-0.1767399999999384
527      51.48207000000008,0.07143000000002075
529      51.50645000000003,-0.2369099999999662
Name: post_code, Length: 309, dtype: object

In [20]:
lat_uk = coordinates_latlng_uk.apply(lambda x: x.split(',')[0])
lat_uk

0      51.492450000000076
1       51.51324000000005
6       51.51200000000006
7       51.51651000000004
9       51.41009000000008
              ...
522    51.589770000000044
523     51.50642000000005
526    51.615920000000074
527     51.48207000000008
529     51.50645000000003
Name: post_code, Length: 309, dtype: object

In [21]:
lng_uk = coordinates_latlng_uk.apply(lambda x: x.split(',')[1])
lng_uk

0       0.12127000000003818
1       -0.2674599999999714
6      -0.08057999999994081
7      -0.11967999999995982
9      -0.05682999999993399
               ...
522    0.030520000000024083
523     -0.1272099999999341
526     -0.1767399999999384
527     0.07143000000002075
529     -0.2369099999999662
Name: post_code, Length: 309, dtype: object

In [22]:
london_merged = pd.concat([df1,lat_uk.astype(float), lng_uk.astype(float)], axis=1)
london_merged.columns= ['borough','town','post_code','latitude','longitude']
london_merged

,borough,town,post_code,latitude,longitude
0,"Bexley, Greenwich",LONDON,SE2,51.49245,0.12127
1,"Ealing, Hammersmith and Fulham",LONDON,"W3, W4",51.51324,-0.26746
6,City,LONDON,EC3,51.51200,-0.08058
7,Westminster,LONDON,WC2,51.51651,-0.11968
9,Bromley,LONDON,SE20,51.41009,-0.05683
...,...,...,...,...,...
522,Redbridge,LONDON,"IG8, E18",51.58977,0.03052
523,"Redbridge, Waltham Forest","LONDON, WOODFORD GREEN",IG8,51.50642,-0.12721
526,Barnet,LONDON,N12,51.61592,-0.17674
527,Greenwich,LONDON,SE18,51.48207,0.07143
529,Hammersmith and Fulham,LONDON,W12,51.50645,-0.23691

In [23]:
london_merged.dtypes

borough       object
town          object
post_code     object
latitude     float64
longitude    float64
dtype: object

In [24]:
london = geocode(address='London, England, GBR')[0]
london_lng_coords = london['location']['x']
london_lat_coords = london['location']['y']
london_lng_coords

-0.1272099999999341

In [25]:
london_lat_coords

51.50642000000005

In [26]:
CLIENT_ID = '5LK3HSRZYK4HAXMT1NF5HN2KIGKAGCLXGCW04EU2CEGK4QSW' 
CLIENT_SECRET = '3QCCIZ1V1TG2TVD3FU0MYY5RILWUBWZV2KAUM0AGRP2U0PQD'
VERSION = '20201231'

In [27]:
LIMIT=100

def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius,
            LIMIT
            )
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Category']
    
    return(nearby_venues)

In [28]:
venues_in_London = getNearbyVenues(london_merged['borough'], london_merged['latitude'], london_merged['longitude'])
venues_in_London.head()

Bexley, Greenwich
Ealing, Hammersmith and Fulham
City
Westminster
Bromley
Islington
Islington
Barnet
Enfield
Wandsworth
Southwark
City
Richmond upon Thames
Barnet
Islington
Wandsworth
Westminster
Bromley
Newham
Ealing
Westminster
Lewisham
Camden
Southwark
Tower Hamlets
Bexley
City
Lewisham
Greenwich
Tower Hamlets
Camden
Haringey
Tower Hamlets
Haringey
Barnet
Brent
Lambeth
Lewisham
Tower Hamlets
Kensington and ChelseaHammersmith and Fulham
Brent
Barnet
Barnet
Southwark
Tower Hamlets
Camden
Tower Hamlets
Waltham Forest
Newham
Islington
Richmond upon Thames
Lewisham
Camden
Westminster
Greenwich
Kensington and Chelsea
Barnet
Westminster
Lewisham
Waltham Forest
Hounslow, Ealing, Hammersmith and Fulham
Brent
Barnet
Lambeth, Wandsworth
Islington
Barnet
Merton
Barnet
Westminster
Barnet, Brent, Camden
Lewisham
Bexley
Haringey
Bromley
Tower Hamlets
Newham
Hackney
Islington
Southwark
Lewisham
Brent
Southwark
Ealing
Kensington and Chelsea
Wandsworth
Southwark
Barnet
Newham
Richmond upon Thames
Enfield
Southwark
Greenwich
Bexley, Greenwich
Islington & City
Barnet
Islington
Haringey, Islington
Camden
Newham
Lewisham
Haringey
Barnet
Camden
Hammersmith and Fulham
Lambeth
Barnet
Camden
Barnet
Enfield
Greenwich
Hounslow
Lewisham
Hounslow
Hackney
Hackney
Hackney
Hackney
Hackney
Barnet
Hammersmith and Fulham
Camden
Barnet
Ealing
Brent
Haringey
Barnet
Lambeth
Waltham Forest
Islington
Camden
Lewisham
Camden
Kensington and Chelsea
Islington
Hackney
Lewisham
Greenwich, Lewisham
Haringey
Hackney
Barnet
Tower Hamlets
Islington
Lambeth, Southwark
Brent
Kensington and Chelsea
Camden
Brent, Harrow
Greenwich
Brent, Camden
Camden and Islington
Brent
Kingston upon Thames
Westminster
Lewisham
Lambeth
Hackney
Tower Hamlets
Lewisham
Lewisham
Waltham Forest
Waltham Forest
Tower Hamlets
Westminster
Newham
Westminster
Bexley
Hackney
Westminster
Hackney
Newham
Newham
Westminster
Westminster
Greenwich
Merton
Greenwich
Tower Hamlets
Barnet
Westminster
Tower Hamlets
Richmond upon Thames
Bromley
Haringey and Barnet
Islington
Brent
Lewisham
Greenwich
Barnet
Southwark
Wandsworth
Croydon
Barnet
Kensington and Chelsea
Newham
Kensington and Chelsea
Southwark
Barnet
Tower Hamlets
Hammersmith and Fulham
Barnet
Lambeth
Westminster
Enfield
Brent, Ealing
Hammersmith and Fulham
Southwark
Bromley
Islington
Westminster
Newham
Greenwich
Tower Hamlets
Camden
Wandsworth
Brent
Harrow, Brent
Tower Hamlets
Merton
Wandsworth
Southwark
Hammersmith and Fulham
Croydon
Haringey
Hackney
Tower Hamlets
Hammersmith and Fulham
Greenwich
Hackney
Newham
Redbridge, Waltham Forest
Westminster
Camden
Hackney
Kensington and Chelsea
Croydon
Merton
Redbridge
Haringey
Lewisham
Wandsworth
Enfield
Tower Hamlets
Westminster
Camden
Lewisham
Westminster
Islington
Camden
Hackney
Tower Hamlets
Lambeth
Hackney
Brent
Newham
Lambeth
Haringey
Southwark
Camden
Lewisham, Bromley
Lewisham, Southwark
City, Westminster
Bexley, Greenwich
Wandsworth
Wandsworth
Haringey
Haringey
Haringey
Barnet
Tower Hamlets
Islington, Camden
Lambeth
Haringey
Hackney
Islington
Croydon
Waltham Forest
Newham
Lambeth
Waltham Forest
Waltham Forest
Southwark
Wandsworth
Redbridge
Tower Hamlets
Greenwich
Kensington and Chelsea
Ealing
Haringey
Hackney
Newham
Camden
Bexley
Barnet
Hammersmith and Fulham
Lambeth
Greenwich
Westminster
Barnet
Hammersmith and Fulham
Tower Hamlets
Brent
Merton
Enfield
Haringey
Redbridge
Redbridge, Waltham Forest
Barnet
Greenwich
Hammersmith and Fulham

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Category
0,"Bexley, Greenwich",51.49245,0.12127,Lesnes Abbey,Historic Site
1,"Bexley, Greenwich",51.49245,0.12127,Sainsbury's,Supermarket
2,"Bexley, Greenwich",51.49245,0.12127,Lidl,Supermarket
3,"Bexley, Greenwich",51.49245,0.12127,Abbey Wood Railway Station (ABW),Train Station
4,"Bexley, Greenwich",51.49245,0.12127,Bean @ Work,Coffee Shop

In [29]:
venues_in_London.head()

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Category
0,"Bexley, Greenwich",51.49245,0.12127,Lesnes Abbey,Historic Site
1,"Bexley, Greenwich",51.49245,0.12127,Sainsbury's,Supermarket
2,"Bexley, Greenwich",51.49245,0.12127,Lidl,Supermarket
3,"Bexley, Greenwich",51.49245,0.12127,Abbey Wood Railway Station (ABW),Train Station
4,"Bexley, Greenwich",51.49245,0.12127,Bean @ Work,Coffee Shop

In [30]:
venues_in_London.shape

(10514, 5)

In [32]:
venues_in_London.groupby('Venue Category').max()

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue
Venue Category,,,,
Adult Boutique,Islington,51.52969,-0.08697,Sh! Women's Erotic Emporium
African Restaurant,Westminster,51.52587,-0.08808,Red Sea Restaurant
American Restaurant,Waltham Forest,51.63261,0.02795,Spielburger
Antique Shop,Westminster,51.51651,-0.11968,The London Silver Vaults
Arcade,Westminster,51.51651,-0.11968,Novelty Automation
...,...,...,...,...
Wings Joint,Hammersmith and Fulham,51.54187,-0.19795,Wingmans
Women's Store,Kensington and ChelseaHammersmith and Fulham,51.55457,-0.11478,Vivien of Holloway
Xinjiang Restaurant,Southwark,51.47480,-0.09313,Silk Road
Yoga Studio,Westminster,51.55457,-0.03558,yogahaven
Zoo Exhibit,Camden,51.53354,-0.14606,Penguin Beach

In [33]:
London_venue_cat = pd.get_dummies(venues_in_London[['Venue Category']], prefix="", prefix_sep="")
London_venue_cat

,Adult Boutique,African Restaurant,American Restaurant,Antique Shop,Arcade,Arepa Restaurant,Argentinian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,...,Vietnamese Restaurant,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo Exhibit
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10509,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10510,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10511,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10512,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10513,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
London_venue_cat['Neighbourhood'] = venues_in_London['Neighbourhood'] 

# moving neighborhood column to the first column
fixed_columns = [London_venue_cat.columns[-1]] + list(London_venue_cat.columns[:-1])
London_venue_cat = London_venue_cat[fixed_columns]

London_venue_cat.head()

,Neighbourhood,Adult Boutique,African Restaurant,American Restaurant,Antique Shop,Arcade,Arepa Restaurant,Argentinian Restaurant,Art Gallery,Art Museum,...,Vietnamese Restaurant,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo Exhibit
0,"Bexley, Greenwich",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"Bexley, Greenwich",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"Bexley, Greenwich",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"Bexley, Greenwich",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"Bexley, Greenwich",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
London_grouped = London_venue_cat.groupby('Neighbourhood').mean().reset_index()
London_grouped.head()

,Neighbourhood,Adult Boutique,African Restaurant,American Restaurant,Antique Shop,Arcade,Arepa Restaurant,Argentinian Restaurant,Art Gallery,Art Museum,...,Vietnamese Restaurant,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Wings Joint,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo Exhibit
0,Barnet,0.0,0.0,0.00713,0.0,0.0,0.0,0.00713,0.0,0.0,...,0.00713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,"Barnet, Brent, Camden",0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Bexley,0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,"Bexley, Greenwich",0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,"Bexley, Greenwich",0.0,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.0,...,0.00000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [37]:
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

In [38]:
neighborhoods_venues_sorted_london = pd.DataFrame(columns=columns)
neighborhoods_venues_sorted_london['Neighbourhood'] = London_grouped['Neighbourhood']

for ind in np.arange(London_grouped.shape[0]):
    neighborhoods_venues_sorted_london.iloc[ind, 1:] = return_most_common_venues(London_grouped.iloc[ind, :], num_top_venues)

neighborhoods_venues_sorted_london.head()

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Barnet,Coffee Shop,Café,Grocery Store,Italian Restaurant,Pub,Bus Stop,Supermarket,Sushi Restaurant,Pharmacy,Turkish Restaurant
1,"Barnet, Brent, Camden",Bus Station,Gym / Fitness Center,Clothing Store,Supermarket,Zoo Exhibit,Fish Market,Farmers Market,Fast Food Restaurant,Filipino Restaurant,Film Studio
2,Bexley,Supermarket,Historic Site,Coffee Shop,Convenience Store,Train Station,Park,Bus Stop,Construction & Landscaping,Golf Course,Exhibit
3,"Bexley, Greenwich",Sports Club,Convenience Store,Golf Course,Park,Construction & Landscaping,Historic Site,Bus Stop,Food & Drink Shop,Food Court,Flower Shop
4,"Bexley, Greenwich",Supermarket,Historic Site,Train Station,Convenience Store,Coffee Shop,Fish Market,Farmers Market,Fast Food Restaurant,Filipino Restaurant,Film Studio

In [39]:
k_num_clusters = 5

London_grouped_clustering = London_grouped.drop('Neighbourhood', 1)

# run k-means clustering
kmeans_london = KMeans(n_clusters=k_num_clusters, random_state=0).fit(London_grouped_clustering)
kmeans_london

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=0, tol=0.0001, verbose=0)

In [43]:
neighborhoods_venues_sorted_london.insert(0, 'Cluster Labels', kmeans_london.labels_ +1)

In [44]:
kmeans_london.labels_

array([1, 0, 2, 2, 2, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1,
       1, 1, 1, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1])

In [45]:
london_data = london_merged

london_data = london_data.join(neighborhoods_venues_sorted_london.set_index('Neighbourhood'), on='borough')

london_data.head()

,borough,town,post_code,latitude,longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,"Bexley, Greenwich",LONDON,SE2,51.49245,0.12127,3,Supermarket,Historic Site,Train Station,Convenience Store,Coffee Shop,Fish Market,Farmers Market,Fast Food Restaurant,Filipino Restaurant,Film Studio
1,"Ealing, Hammersmith and Fulham",LONDON,"W3, W4",51.51324,-0.26746,4,Grocery Store,Indian Restaurant,Park,Breakfast Spot,Train Station,Fish & Chips Shop,Falafel Restaurant,Farmers Market,Fast Food Restaurant,Filipino Restaurant
6,City,LONDON,EC3,51.51200,-0.08058,2,Coffee Shop,Hotel,Gym / Fitness Center,Italian Restaurant,Pub,Restaurant,Sandwich Place,French Restaurant,Cocktail Bar,Scenic Lookout
7,Westminster,LONDON,WC2,51.51651,-0.11968,2,Hotel,Coffee Shop,Café,Sandwich Place,Pub,Italian Restaurant,Theater,Restaurant,Burger Joint,French Restaurant
9,Bromley,LONDON,SE20,51.41009,-0.05683,1,Supermarket,Grocery Store,Convenience Store,Fast Food Restaurant,Hotel,Park,Historic Site,Gym / Fitness Center,Italian Restaurant,Golf Course

In [46]:
london_data_nonan = london_data.dropna(subset=['Cluster Labels'])

In [47]:
london_data_nonan.loc[london_data_nonan['Cluster Labels'] == 1, london_data_nonan.columns[[1] + list(range(5, london_data_nonan.shape[1]))]]

,town,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
9,LONDON,1,Supermarket,Grocery Store,Convenience Store,Fast Food Restaurant,Hotel,Park,Historic Site,Gym / Fitness Center,Italian Restaurant,Golf Course
29,"BECKENHAM, LONDON",1,Supermarket,Grocery Store,Convenience Store,Fast Food Restaurant,Hotel,Park,Historic Site,Gym / Fitness Center,Italian Restaurant,Golf Course
61,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store
69,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store
100,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store
121,LONDON,1,Bus Station,Gym / Fitness Center,Clothing Store,Supermarket,Zoo Exhibit,Fish Market,Farmers Market,Fast Food Restaurant,Filipino Restaurant,Film Studio
127,LONDON,1,Supermarket,Grocery Store,Convenience Store,Fast Food Restaurant,Hotel,Park,Historic Site,Gym / Fitness Center,Italian Restaurant,Golf Course
137,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store
217,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store
260,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store
269,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store
316,LONDON,1,Supermarket,Grocery Store,Convenience Store,Fast Food Restaurant,Hotel,Park,Historic Site,Gym / Fitness Center,Italian Restaurant,Golf Course
319,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store
357,LONDON,1,Grocery Store,Liquor Store,Chinese Restaurant,Fast Food Restaurant,Convenience Store,Warehouse Store,Discount Store,Pharmacy,Sandwich Place,Filipino Restaurant
360,LONDON,1,Supermarket,Grocery Store,Convenience Store,Fast Food Restaurant,Hotel,Park,Historic Site,Gym / Fitness Center,Italian Restaurant,Golf Course
377,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store
442,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store
453,LONDON,1,Pub,Bistro,Italian Restaurant,Gym / Fitness Center,Gastropub,Park,Pet Store,Pharmacy,Portuguese Restaurant,Sandwich Place
518,LONDON,1,Fast Food Restaurant,Grocery Store,Sandwich Place,Pharmacy,Discount Store,Indian Restaurant,Chinese Restaurant,Pub,Liquor Store,Convenience Store

In [48]:
london_data_nonan.loc[london_data_nonan['Cluster Labels'] == 2, london_data_nonan.columns[[1] + list(range(5, london_data_nonan.shape[1]))]]

,town,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
6,LONDON,2,Coffee Shop,Hotel,Gym / Fitness Center,Italian Restaurant,Pub,Restaurant,Sandwich Place,French Restaurant,Cocktail Bar,Scenic Lookout
7,LONDON,2,Hotel,Coffee Shop,Café,Sandwich Place,Pub,Italian Restaurant,Theater,Restaurant,Burger Joint,French Restaurant
10,LONDON,2,Coffee Shop,Pub,Café,Food Truck,Vietnamese Restaurant,Gym / Fitness Center,Italian Restaurant,Park,Cocktail Bar,Breakfast Spot
12,LONDON,2,Coffee Shop,Pub,Café,Food Truck,Vietnamese Restaurant,Gym / Fitness Center,Italian Restaurant,Park,Cocktail Bar,Breakfast Spot
14,"BARNET, LONDON",2,Coffee Shop,Café,Grocery Store,Italian Restaurant,Pub,Bus Stop,Supermarket,Sushi Restaurant,Pharmacy,Turkish Restaurant
...,...,...,...,...,...,...,...,...,...,...,...,...
522,LONDON,2,Café,Pub,Grocery Store,Coffee Shop,Bakery,Bar,Metro Station,BBQ Joint,Seafood Restaurant,Park
523,"LONDON, WOODFORD GREEN",2,Hotel,Café,Pub,Theater,Garden,Plaza,Monument / Landmark,Restaurant,Coffee Shop,Art Gallery
526,LONDON,2,Coffee Shop,Café,Grocery Store,Italian Restaurant,Pub,Bus Stop,Supermarket,Sushi Restaurant,Pharmacy,Turkish Restaurant
527,LONDON,2,Pub,Grocery Store,Bus Stop,Coffee Shop,Indian Restaurant,Historic Site,Park,Café,Clothing Store,Construction & Landscaping
529,LONDON,2,Pub,Café,Coffee Shop,Grocery Store,Gastropub,Hotel,Pizza Place,Thai Restaurant,Italian Restaurant,French Restaurant

In [49]:
london_data_nonan.loc[london_data_nonan['Cluster Labels'] == 3, london_data_nonan.columns[[1] + list(range(5, london_data_nonan.shape[1]))]]

,town,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,LONDON,3,Supermarket,Historic Site,Train Station,Convenience Store,Coffee Shop,Fish Market,Farmers Market,Fast Food Restaurant,Filipino Restaurant,Film Studio
45,"BEXLEYHEATH, LONDON",3,Supermarket,Historic Site,Coffee Shop,Convenience Store,Train Station,Park,Bus Stop,Construction & Landscaping,Golf Course,Exhibit
124,LONDON,3,Supermarket,Historic Site,Coffee Shop,Convenience Store,Train Station,Park,Bus Stop,Construction & Landscaping,Golf Course,Exhibit
167,"LONDON, WELLING",3,Sports Club,Convenience Store,Golf Course,Park,Construction & Landscaping,Historic Site,Bus Stop,Food & Drink Shop,Food Court,Flower Shop
291,"LONDON, SIDCUP",3,Supermarket,Historic Site,Coffee Shop,Convenience Store,Train Station,Park,Bus Stop,Construction & Landscaping,Golf Course,Exhibit
458,"LONDON, ERITH",3,Sports Club,Convenience Store,Golf Course,Park,Construction & Landscaping,Historic Site,Bus Stop,Food & Drink Shop,Food Court,Flower Shop
506,LONDON,3,Supermarket,Historic Site,Coffee Shop,Convenience Store,Train Station,Park,Bus Stop,Construction & Landscaping,Golf Course,Exhibit

In [50]:
london_data_nonan.loc[london_data_nonan['Cluster Labels'] == 4, london_data_nonan.columns[[1] + list(range(5, london_data_nonan.shape[1]))]]

,town,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,LONDON,4,Grocery Store,Indian Restaurant,Park,Breakfast Spot,Train Station,Fish & Chips Shop,Falafel Restaurant,Farmers Market,Fast Food Restaurant,Filipino Restaurant

In [51]:
london_data_nonan.loc[london_data_nonan['Cluster Labels'] == 5, london_data_nonan.columns[[1] + list(range(5, london_data_nonan.shape[1]))]]

,town,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
378,"HARROW, STANMOREEDGWARE, LONDON",5,Gym,Metro Station,Bakery,Food Truck,Food Stand,Food Court,Food & Drink Shop,Flower Shop,Flea Market,Exhibit